<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MVC Web Performance Helpers</title>

    @Scripts.Render("~/bundles/js/asset-loader")
    <script>
        loadCSS('@Styles.Url("~/bundles/css/theme")');
    </script>
    @BundleHelper.RenderStylesInline("~/bundles/css")
</head>
<body>
    <header class="container">
        <h1>MVC Web Performance Helpers Demos</h1>
    </header>

    <div class="container">
        @RenderBody()
    </div>
    <noscript>
        @Styles.Render("~/bundles/css/theme")
    </noscript>
</body>
</html>
