<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASP.NET Web Optimisation Helpers</title>
    
    
    @* Progressive Enhancement *@
    
    @if (!Request.Cookies.AllKeys.Contains("fullcss"))
    {
        <meta name="fullcss" content="@Url.Content("~/bundles/css")">
        @StyleHelper.RenderStyleInline("~/bundles/critical-css")
        <noscript>
            @Styles.Render("~/bundles/css")
        </noscript>
    }
    else
    {
        @Styles.Render("~/bundles/css")
    }
   
    @ScriptHelper.RenderScriptInline("~/bundles/js")
    
</head>
<body>
    <header class="header">
        <div class="container">
            <h1>ASP.NET Web Optimisation Helpers</h1>
            <a href="https://github.com/benembery/dotnet-web-optimisation-helpers" class="btn">View on GitHub</a>
        </div>
    </header>

    <div class="container">
        @Html.Action("GoBackLink", "Home")
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="container">
            <p>&copy; Ben Embery @DateTime.Now.Year</p>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
