<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASP.NET Web Optimisation Helpers</title>
    @* Progressive asset loading *@
    @if (!Request.Cookies.AllKeys.Contains("fullcss"))
    {
        <meta name="fullcss" content="@Url.Content("~/bundles/css")">
        @StyleHelper.RenderStyleInline("~/bundles/css/critical")
        <noscript>
            @Styles.Render("~/bundles/css")
        </noscript>
    }
    else
    {
        @Styles.Render("~/bundles/css")
    }
    <meta name="jsdeps" content="/bundles/js/jquery,/scripts/tests/a.js,/scripts/tests/b.js|/scripts/tests/1.js,/scripts/tests/2.js,/scripts/tests/3.js" />
    @ScriptHelper.RenderScriptInline("~/bundles/js")
</head>
<body>
    <header class="header">
        <div class="container">
            <h1>ASP.NET Web Optimisation Helpers</h1>
            <p class="lead">&ldquo;Making <abbr title="Responsive Web Design">RWD</abbr> sites load fast as heck&rdquo;</p>
            <a href="https://github.com/benembery/dotnet-web-optimisation-helpers" class="btn">View on GitHub</a>
        </div>
    </header>

    <div class="container">
        @Html.Action("GoBackLink", "Home")
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="container">
            <p>&copy; Ben Embery @DateTime.Now.Year</p>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
